#fixed_audio_box {
position: fixed; 
bottom: 0; 
left: 0; 
z-index: 100000000000;
}


@font-face {
	font-family: 'Ezra SIL SR';
	src: url('fonts/ezrasilsr-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/ezrasilsr-webfont.woff') format('woff'), 
	     url('fonts/ezrasilsr-webfont.ttf')  format('truetype'),
	     url('fonts/ezrasilsr-webfont.svg#EzraSILSR') format('svg');
	}


@font-face {
    font-family: 'StamAshkenazCLMMedium';
    src: url('fonts/stamashkenazclm-webfont.eot');
    src: url('fonts/stamashkenazclm-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/stamashkenazclm-webfont.woff') format('woff'),
         url('fonts/stamashkenazclm-webfont.ttf') format('truetype'),
         url('fonts/stamashkenazclm-webfont.svg#StamAshkenazCLMMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}





.w  {
	font-family: 'Ezra SIL SR';	

	font-size: 24pt; 
	font-weight: normal;
    word-spacing: 3px;
	
}

.v {
	font-size: 12pt; 
	font-weight: normal;
}


.heb {
	text-align:right;
	direction:rtl;
}


.stam {
font-family: 'Stam Ashkenaz CLM';
}

.taamei {
	color: red;
	font-weight: normal;
	}